---
id: {{[id]}}
title: {{[title]}}
tcode: {{[type]}}
---

<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Profile: {{page.title}} - FHIR</title>

  {% include header.html %}
</head>

<body>
  {% include navbar.html %}

  <!--
  <div id="segment-breadcrumb" class="segmnt">
    <div class="container">
      <ul class="breadcrumb">
        <li title="{{ site.data.fhir.igName }}">
          <a href="index.html">
            <b>{{ site.data.fhir.igName }}</b>
          </a>
        </li>
        <li>
          <b>{{page.title}} Details</b>
        </li>
      </ul>
    </div>
  </div>
-->
  <div id="segment-content" class="segment">
    <div class="container">
      <div class="row">
        <div class="inner-wrapper">
          <div class="col-12">
              <ul class="nav nav-tabs">
                  <li class="{% if page.path == "{{[type]}}-{{[id]}}.html" %}active{% endif %}"><a href="{{[type]}}-{{[id]}}.html">Content</a></li>
                  {% if "{{[type]}}" == "StructureDefinition" %}
                    <li class="{% if page.path == "{{[type]}}-{{[id]}}-definitions.html" %}active{% endif %}"><a href="{{[type]}}-{{[id]}}-definitions.html">Detailed Descriptions</a></li>
                    <li class="{% if page.path == "{{[type]}}-{{[id]}}-mappings.html" %}active{% endif %}"><a href="{{[type]}}-{{[id]}}-mappings.html">Mappings</a></li>
                    <li class="{% if page.path == "{{[type]}}-{{[id]}}-examples.html" %}active{% endif %}"><a href="{{[type]}}-{{[id]}}-examples.html">Examples</a></li>
                  {% endif %}
                  <li class="{% if page.path == "{{[type]}}-{{[id]}}.xml.html" %}active{% endif %}"><a href="{{[type]}}-{{[id]}}.xml.html">XML</a></li>
                  <li class="{% if page.path == "{{[type]}}-{{[id]}}.json.html" %}active{% endif %}"><a href="{{[type]}}-{{[id]}}.json.html">JSON</a></li>
              </ul>
    
            <h2 id="root">StructureDefinition: {{[title]}} - Detailed Descriptions</h2>
            <p>Definitions for the {{[id]}} Profile.</p>
            {% assign intro = site.data.pages[page.path].intro %}
            {% if site.data.pages[page.path].intro != null %}
            <div style="display:inline-block">
            {% include {{intro}} %}
            </div>
            {% endif %}
            
            {%include StructureDefinition-{{[id]}}-dict.xhtml%}
          
            {% assign notes = site.data.pages[page.path].notes %}
            {% if site.data.pages[page.path].notes != null %}
            <div style="display:inline-block">
            {% include {{notes}} %}
            </div>
            {% endif %}
          
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

    <script>
      $(document).ready(function () {
        try {
          var currentTabIndex = sessionStorage.getItem('fhir-resource-tab-index');
        }
        catch (exception) { }

        if (!currentTabIndex) {
          currentTabIndex = '0';
        }

        $('#tabs').tabs({
          active: currentTabIndex,
          activate: function (event, ui) {
            var active = $('.selector').tabs('option', 'active');
            currentTabIndex = ui.newTab.index();
            document.activeElement.blur();
            try {
              sessionStorage.setItem('fhir-resource-tab-index', currentTabIndex);
            }
            catch (exception) {
            }
          }
        });
      });
    </script>
</body>

</html>