<h2>
    Analyzer
</h2>

<p> </p>

<h3>Examples Input and Output</h3>

<h4>1-1 Therapieentscheid Medikation (Medication Treatment Plan document)</h4>
<div>
    <li><a href="Parameters-1-1-Input-Analyzer.html"> 1-1 Input Analyzer</a> Inputdokument: 1-1-MTP</li>
    <li><a href="Bundle-1-1-ConsolidatedMedicationPlan.html"> 1-1 Consolidated MedicationPlan</a></li>
</div>

<p> </p>

<h4>1-2 Abgabe (Medication Dispense document)</h4>
<div>
    <li><a href="Parameters-1-2-Input-Analyzer.html"> 1-2 Input Analyzer</a> Inputdokumente: 1-1-MTP, 1-2-DIS</li>
    <li><a href="Bundle-1-2-ConsolidatedMedicationPlan.html"> 1-2 Consolidated MedicationPlan</a></li>
</div>

<p> </p>

<h4>2-1 Medikationsliste (Medication List document)</h4>
<div>
    <li><a href="Parameters-2-1-Input-Analyzer.html"> 2-1 Input Analyzer</a> Inputdokumente: 1-1-MTP, 1-2-DIS, 2-1-List</li>
    <li><a href="Bundle-1-2-ConsolidatedMedicationPlan.html"> 2-1 Consolidated MedicationPlan</a> äquivalent zu 1-2 Consolidated MedicationPlan</li>
</div>

<p> </p>

<h4>2-2 Kommentar zur Medikation (Pharmaceutical Advice document)</h4>
<div>
    <li><a href="Parameters-2-2-Input-Analyzer.html"> 2-2 Input Analyzer</a> Inputdokumente: 1-1-MTP, 1-2-DIS, 2-1-List, 2-2-PADV</li>
    <li><a href="Bundle-2-2-MedicationPlan-Analyzer.html"> 2-2 Consolidated MedicationPlan</a></li>
</div>

<p> </p>

<h3>Profiles</h3>

<h4>Profile Operation Analyzer</h4>
<div>
    <li><a href="OperationDefinition-chmed20af-analyzer.html">Definition Input & Output Parameter Analyzer</a></li>
</div>

<p> </p>

<h4>Profiles Output</h4>
<!--<div>
    <li><a href="StructureDefinition-chmed20af-analyzer-bundle.html">Analyzer MedicationPlan</a></li>
    <li><a href="StructureDefinition-chmed20af-analyzer-composition.html">Analyzer Composition</a></li>
    <li><a href="StructureDefinition-chmed20af-analyzer-medicationstatement.html">Analyzer MedicationStatement</a></li>
    <li><a href="StructureDefinition-chmed20af-analyzer-medicationrequest.html">Analyzer MedicationRequest</a></li>
    <li><a href="StructureDefinition-chmed20af-analyzer-medicationdispense.html">Analyzer MedicationDispense</a></li>
    <li><a href="StructureDefinition-chmed20af-analyzer-observation.html">Analyzer Observation</a></li>
</div>-->
