<h2>
    Analyzer
</h2>

<br>

<h3>Examples CH-EMED Input and Output</h3>

<h4>1-1 Therapieentscheid Medikation (Medication Treatment Plan document)</h4>
<div>
    <li><a href="Parameters-1-1-Input-Analyzer.html"> 1-1 Input Analyzer</a> Inputdokument: 1-1-MTP</li>
    <li><a href="Bundle-1-1-ConsolidatedMedicationCard.html"> 1-1 Consolidated Medication Card document</a></li>
</div>

<br>

<h4>1-2 Abgabe (Medication Dispense document)</h4>
<div>
    <li><a href="Parameters-1-2-Input-Analyzer.html"> 1-2 Input Analyzer</a> Inputdokumente: 1-1-MTP, 1-2-DIS</li>
    <li><a href="Bundle-1-2-ConsolidatedMedicationCard.html"> 1-2 Consolidated Medication Card document</a></li>
</div>

<br>

<h4>2-1 Medikationsliste (Medication List document)</h4>
<div>
    <li><a href="Parameters-2-1-Input-Analyzer.html"> 2-1 Input Analyzer</a> Inputdokumente: 1-1-MTP, 1-2-DIS, 2-1-List</li>
    <li><a href="Bundle-1-2-ConsolidatedMedicationCard.html"> 2-1 Consolidated Medication Card document</a> äquivalent zu 1-2 Consolidated Medication Card document</li>
</div>

<br>

<h4>2-2 Kommentar zur Medikation (Pharmaceutical Advice document)</h4>
<div>
    <li><a href="Parameters-2-2-Input-Analyzer.html"> 2-2 Input Analyzer</a> Inputdokumente: 1-1-MTP, 1-2-DIS, 2-1-List, 2-2-PADV</li>
    <li><a href="Bundle-2-2-ConsolidatedMedicationCard.html"> 2-2 Consolidated Medication Card document</a></li>
</div>

<br>

<h4>2-3 Therapieentscheid Medikation (Medication Treatment Plan document)</h4>
<div>
    <li><a href="Parameters-2-3-Input-Analyzer.html"> 2-3 Input Analyzer</a> Inputdokumente: 1-1-MTP, 1-2-DIS, 2-1-List, 2-2-PADV, 2-3-MTP</li>
    <li><a href="Bundle-2-3-ConsolidatedMedicationCard.html"> 2-3 Consolidated Medication Card document</a></li>
</div>
<h5>Test-Case Beloc Zok: Therapieentscheid Beloc Zok (abgesetztes Triatec wird für Testzwecke nicht aufgeführt)</h5>
<div>
    <li><a href="Parameters-BeloczokMTP-Input-Analyzer.html"> Input Analyzer</a> Inputdokument: 2-3-MTP</li>
    <li><a href="Bundle-BeloczokMTP-ConsolidatedMedicationCard.html"> Consolidated Medication Card document</a></li>
</div>

<br>

<h4>2-4 Abgabe (Medication Dispense document)</h4>
<div>
    <li><a href="Parameters-2-4-Input-Analyzer.html"> 2-4 Input Analyzer</a> Inputdokumente: 1-1-MTP, 1-2-DIS, 2-1-List, 2-2-PADV, 2-3-MTP, 2-4-DIS</li>
    <li><a href="Bundle-2-4-ConsolidatedMedicationCard.html"> 2-4 Consolidated Medication Card document</a></li>
</div>
<h5>Test-Case Beloc Zok: Abgabe Beloc Zok (abgesetztes Triatec wird für Testzwecke nicht aufgeführt)</h5>
<div>
    <li><a href="Parameters-BeloczokDIS-Input-Analyzer.html"> Input Analyzer</a> Inputdokumente: 2-3-MTP, 2-4-DIS</li>
    <li><a href="Bundle-BeloczokDIS-ConsolidatedMedicationCard.html"> Consolidated Medication Card document</a></li>
</div>

<br>

<h4>2-5 Therapieentscheid Medikation (Medication Treatment Plan document)</h4>
<div>
    <li><a href="Parameters-2-5-Input-Analyzer.html"> 2-5 Input Analyzer</a> Inputdokumente: 1-1-MTP, 1-2-DIS, 2-1-List, 2-2-PADV, 2-3-MTP, 2-4-DIS, 2-5-MTP</li>
    <li><a href="Bundle-2-5-ConsolidatedMedicationCard.html"> 2-5 Consolidated Medication Card document</a></li>
</div>
<h5>Test-Case Norvasc: Therapieentscheid Norvasc (abgesetztes Triatec und abgegebenes Beloc Zok werden für Testzwecke nicht aufgeführt)</h5>
<div>
    <li><a href="Parameters-NorvascMTP-Input-Analyzer.html"> Input Analyzer</a> Inputdokumente: 2-5-MTP</li>
    <li><a href="Bundle-NorvascMTP-ConsolidatedMedicationCard.html"> Consolidated Medication Card document</a></li>
</div>

<br>

<h4>2-6 Rezept (Medication Prescription document)</h4>
<div>
    <li><a href="Parameters-2-6-Input-Analyzer.html"> 2-6 Input Analyzer</a> Inputdokumente: 1-1-MTP, 1-2-DIS, 2-1-List, 2-2-PADV, 2-3-MTP, 2-4-DIS, 2-5-MTP, 2-6-PRE</li>
    <li><a href="Bundle-2-6-ConsolidatedMedicationCard.html"> 2-6 Consolidated Medication Card document</a></li>
</div>
<h5>Test-Case Norvasc: Rezept Norvasc (abgesetztes Triatec und abgegebenes Beloc Zok werden für Testzwecke nicht aufgeführt)</h5>
<div>
    <li><a href="Parameters-NorvascPRE-Input-Analyzer.html"> Input Analyzer</a> Inputdokumente: 2-5-MTP, 2-6-PRE</li>
    <li><a href="Bundle-NorvascPRE-ConsolidatedMedicationCard.html"> Consolidated Medication Card document</a></li>
</div>

<br>

<h4>2-7 Medikationsplan (Medication Card document)</h4>
<div>
    <li><a href="Parameters-2-7-Input-Analyzer.html"> 2-7 Input Analyzer</a> Inputdokumente: 1-1-MTP, 1-2-DIS, 2-1-List, 2-2-PADV, 2-3-MTP, 2-4-DIS, 2-5-MTP, 2-6-PRE, 2-7-Card</li>
    <li><a href="Bundle-2-7-ConsolidatedMedicationCard.html"> 2-7 Consolidated Medication Card document</a></li>
</div>
<h5>Test-Case Norvasc: Medikationsplan Norvasc (abgesetztes Triatec und abgegebenes Beloc Zok werden für Testzwecke nicht aufgeführt)</h5>
<div>
    <li><a href="Parameters-NorvascCard-Input-Analyzer.html"> Input Analyzer</a> Inputdokumente: 2-5-MTP, 2-6-PRE, 2-7-Card (nur Norvasc)</li>
    <li><a href="Bundle-NorvascCard-ConsolidatedMedicationCard.html"> Consolidated Medication Card document</a></li>
</div>

<br>


<h3>Examples to show the type of change in the history</h3>
<div>
    <li><a href="ValueSet-chmed20af-valueset-history-changes.html"> Value Set</a> Type of changes in the history</li>
</div>

<br>

<h4>Substitution</h4>
<p>Apotheke Gare führt eine Substituion bei Zocor durch.</p>
<div>
    <li><a href="Parameters-A1-Input-Analyzer.html"> Input Analyzer</a> Inputdokumente: Medication Card Zocor, Medication Card Simcora</li>
    <li><a href="Bundle-A1-ConsolidatedMedicationCard.html"> Consolidated Medication Card document</a></li>
</div>

<br>

<h4>Same Medication</h4>
<div>

</div>

<br>

<h4>Change Dosage</h4>
<div>

</div>

<br>

<h4>ChangePractitioner</h4>
<p>Dr. Dupont verschreibt am 01.03.2020 das Medikament Reniten. Ab 10.03.2020 verschreibt Dr. Money das Medikament weiter.</p>
<div>
    <li><a href="Parameters-A4-Input-Analyzer.html"> Input Analyzer</a> Inputdokumente: Medication Card Dr. Dupont, Medication Card Dr. Money</li>
    <li><a href="Bundle-A4-ConsolidatedMedicationCard.html"> Consolidated Medication Card document</a></li>
</div>

<br>

<h4>ChangeTherapy</h4>
<div>

</div>

<br>

<h4>Change ROA</h4>
<div>

</div>

<br>

<h4>Change Galenic</h4>
<div>

</div>


<br>

<h3>Profiles</h3>

<h4>Profile Operation Analyzer</h4>
<div>
    <li><a href="OperationDefinition-chmed20af-analyzer.html">Definition Input and Output Parameter Analyzer</a></li>
</div>

<br>

<h4>Profiles Output</h4>
<p>Nachfolgende Profile definieren die Anforderungen an ein Minimaldatenset für das durch den Analyzer konsolidierte Medication Card document.<br>
    Bemerkung: <br>
    Die Anforderungen an dieses durch den Analyzer kosolidiertes Medication Card document entsprechen 
    nicht den Anforderungen des <a href="profiles.html">CHMED20AF Medication Card documents</a>.</p>
<div>
    <li><a href="StructureDefinition-chmed20af-analyzer-bundle.html">Analyzer Consolidated Medication Card document</a></li>
    <li><a href="StructureDefinition-chmed20af-analyzer-composition.html">Analyzer Composition</a></li>
    <li><a href="StructureDefinition-chmed20af-analyzer-medicationstatement.html">Analyzer MedicationStatement</a></li>
    <li><a href="StructureDefinition-chmed20af-analyzer-medicationrequest.html">Analyzer MedicationRequest</a></li>
    <li><a href="StructureDefinition-chmed20af-analyzer-medicationdispense.html">Analyzer MedicationDispense</a></li>
    <li><a href="StructureDefinition-chmed20af-analyzer-observationpadv.html">Analyzer Observation PADV</a></li>
    <li><a href="StructureDefinition-chmed20af-analyzer-observationhistory.html">Analyzer Observation History of Changes</a></li>
    <li><a href="StructureDefinition-chmed20af-analyzer-patient.html">Analyzer Patient</a></li>
    <li><a href="StructureDefinition-chmed20af-analyzer-practitioner.html">Analyzer Practitioner</a></li>
</div>

<br>