<div id="segment-header" class="segment">
  <!-- segment-header -->
  <div class="container">
    <!-- container -->
    <div id="hl7-status">
      <b>eMediplan CHMED20AF Implementation Guide: {{{{page.category}}</b>
    </div>
    <div id="hl7-nav">
      <a id="logo" no-external="true" href="http://www.emediplan.ch"><img alt="logo fhir" src="assets/images/emediplan-logo.svg" height="72px" width="266px" /> </a>
    </div>
  </div>
  <div class="container">
    <!-- container -->
  </div>
</div>
<!-- /segment-header -->

<div id="segment-breadcrumb" class="segment">
  <!-- segment-breadcrumb -->
  <div class="container">
    <!-- container -->
    <ul class="breadcrumb">
      <li><b><a href="index.html">Home</a></b></li>
      <li><b><a href="intro.html">Introduction</a></b></li>
      <li><b><a href="profiles.html">Profiles</a></b></li>
      <li><b><a href="valuesets.html">Value Sets</a></b></li>
      <li><b><a href="dosage.html">Dosage</a></b></li>
      <li><b><a href="privatefields.html">Private Fields</a></b></li>
      <li><b><a href="history.html">History</a></b></li>
    </ul>
  </div>
  <!-- /container -->
  {% include publish-box.html %}
</div>
<!-- /segment-breadcrumb -->