<h2>
    Profiles defined as part of the Implementation Guide CHMED20AF
</h2>

<!--<div>
    {% include list-profiles.xhtml %}
</div>-->

<br>

<h3>Medication Card document</h3>
<div>
    <li><a href="StructureDefinition-chmed20af-card-bundle.html">Medication Card document</a> Profile for Medication Card document. The Medication Card document summarizes the entire, current medication of a patient.</li>
    <li><a href="StructureDefinition-chmed20af-card-composition.html">Composition Medication Card document</a> Profile for the Composition Resource of the Medication Card document.</li>
    <li><a href="StructureDefinition-chmed20af-card-patient.html">Patient (Card)</a> Profile on Patient for the Medication Card document</li>
    <li><a href="StructureDefinition-chmed20af-practitioner.html">Practitioner</a> Profile on Practitioner</li>
    <li><a href="StructureDefinition-chmed20af-card-medicationstatement.html">MedicationStatement (Card)</a> Profile on MedicationStatement for the Medication Card document</li>
    <li><a href="StructureDefinition-chmed20af-medication.html">Medication</a> Profile on Medication</li>
    <li><a href="StructureDefinition-chmed20af-obs-dateoflastmenstruation.html">First day of last menstruation</a> Profile on Oberservation for First day of last menstruation</li>
    <li><a href="StructureDefinition-chmed20af-obs-prematurebaby.html">Premature baby</a> Profile on Oberservation for Premature Baby</li>
    <li><a href="StructureDefinition-chmed20af-obs-timeofgestation.html">TimeOfGestation</a> Profile on Oberservation for Time of gestation</li>
    <li><a href="StructureDefinition-chmed20af-condition-risks.html">Risks</a> Profile on Condition for Risks</li>
</div>

<br>

<h3>Medication Prescription document</h3>
<div>
    <li><a href="StructureDefinition-chmed20af-pre-bundle.html">Medication Prescription document</a> A prescription can be structured in a bundle according to the prescription bundle profile.</li>
    <li><a href="StructureDefinition-chmed20af-pre-composition.html">Composition Medication Prescription document</a> Profile for the Composition Resource of the prescripton.</li>
    <li><a href="StructureDefinition-chmed20af-pre-patient.html">Patient (Pre)</a> Profile on Patient for the Medication Prescription document</li>
    <li><a href="StructureDefinition-chmed20af-practitioner.html">Practitioner</a> Profile on Practitioner</li>
    <li><a href="StructureDefinition-chmed20af-pre-medicationrequest.html">MedicationRequest (Pre)</a> Profile on MedicationRequest for the Medication Prescription document</li>
    <li><a href="StructureDefinition-chmed20af-medication.html">Medication</a> Profile on Medication</li>
</div>

<br>