---
category: Home
---
<!DOCTYPE HTML>
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta charset="UTF-8">
  <title>eMedication Plan CHMED16AF</title>

  {% include header.html %}

</head>
<body>
{% include navbar.html %}

 <div id="segment-content" class="segment">  <!-- segment-content -->
 <div class="container">  <!-- container -->
            <div class="row">
             <div class="inner-wrapper">
  <!-- CONTENT CONTENT -->

<div class="col-9">

<h1>eMedication Plan CHMED16AF Implementation Guide</h1>

<p>
Medication plans are a central pillar of any eHealth solution. To enable interoperability between eHealth systems in Switzerland, 
the organization “Verein eMediplan” was founded in 2016. Its aim is to support and provide public, open source, medication plan 
formats supported by a broad group of stakeholders from the public and private sectors.
</p>

<h2>Profiles for CHMED16AF</h2>

<ul>
 <li><a href="StructureDefinition-chmed16af-mp-bundle.html">Profile for Medication Plan</a></li>
 <li><a href="Bundle-chmed16af-mp-bundle-s01.xml.html">Example for Medication Plan</a></li>
</ul>

<hr/>


</div>

    </div>  <!-- /inner-wrapper -->
            </div>  <!-- /row -->
        </div>  <!-- /container -->

    </div>  <!-- /segment-content -->

{% include footer.html %}
</body>
</html>