---
category: Mapping
---
<!DOCTYPE HTML>
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta charset="UTF-8">
    <title>CHMED16AF FHIR Implementation Guide</title>

    {% include header.html %}

</head>

<body>
    {% include navbar.html %}

    <div id="segment-content" class="segment">
        <!-- segment-content -->
        <div class="container">
            <!-- container -->
            <div class="row">
                <div class="inner-wrapper">
                    <!-- CONTENT CONTENT -->

                    <div class="col-9">

                        <h1>Profiles</h1>

                        <h2>General Profiles for CHMED16AF </h2>


                        <table>
                             <tr>
                            <th>Name</th>
                            <th>Profile</th>
                            <th>Example</th>
                            </tr>
                            <tr>
                            <tr>
                                <td>Receiver (Practitioner)</td>
                                <td><a href="StructureDefinition-chmed16af-receiver.html">Profile</a></td>
                                <td> </td>
                            </tr>
                        </table>    

                        <h2>Medication Plan</h2>

                        <table>
                             <tr>
                            <th>Name</th>
                            <th>Profile</th>
                            <th>Example</th>
                            </tr>
                            <tr>
                                <td>Document</td>
                                <td><a href="StructureDefinition-chmed16af-mp-bundle.html">Profile</a></td>
                                <td>
                                    <a href="Bundle-chmed16af-mp-bundle-s01.html">Example</a></td>
                            </tr>
                            <tr>
                                <td>Composition</td>
                                <td>
                                    <a href="StructureDefinition-chmed16af-mp-composition.html">Profile</a>
                                </td>
                                <td><a href="Composition-chmed16af-mp-composition-s01.html">Example</a></td>
                            </tr>
                            <tr>
                                <td>Patient</td>
                                <td>
                                    <a href="StructureDefinition-chmed16af-mp-patient.html">Profile</a>
                                </td>
                                <td><a href="Patient-chmed16af-mp-patient-s01.html">Example</a></td>
                            </tr>
                            <tr>
                                <td>Practitioner</td>
                                <td>
                                    <a href="StructureDefinition-chmed16af-mp-practitioner.html">Profile</a>
                                </td>
                                <td><a href="Practitioner-chmed16af-mp-practitioner-s01.html">Example</a></td>
                            </tr>
                            <tr>
                                <td>MedicationStatement</td>
                                <td>
                                    <a href="StructureDefinition-chmed16af-mp-medicationstatement.html">Profile Medication Statement</a><br />
                                    <a href="StructureDefinition-chmed16af-medication.html">Profile Medication</a>
                                </td>
                                <td>
                                    <a href="MedicationStatement-chmed16af-mp-medicationstatement-s01-1.html">Example 1</a><br />
                                    <a href="MedicationStatement-chmed16af-mp-medicationstatement-s01-2.html">Example 2</a><br />
                                    <a href="MedicationStatement-chmed16af-mp-medicationstatement-s01-3.html">Example 3</a><br />
                                    <a href="MedicationStatement-chmed16af-mp-medicationstatement-s01-4.html">Example 4</a><br />
                                </td>
                            </tr>
                            <tr>
                                <td>Health Concerns</td>
                                <td>
                                    <a href="http://build.fhir.org/bodyweight.html">Body Weight</a>
                                </td>
                                <td>
                                    <a href="Observation-chmed16af-mp-observation-s01-bodyweight.html">Example</a><br />
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <a href="http://build.fhir.org/bodyheight.html">Body Height</a>
                                </td>
                                <td>
                                    <a href="Observation-chmed16af-mp-observation-s01-bodyheight.html">Example</a><br />
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <a href="StructureDefinition-chmed16af-obs-dateoflastmenstruation.html">First day of last menstruation</a>
                                </td>
                                <td>
                                    <a href="Observation-chmed16af-observation-s01-dateoflastmenustration.html">Example</a><br />
                                </td>
                            </tr>

                           <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <a href="StructureDefinition-chmed16af-obs-prematurebaby.html">Premature Baby</a>
                                </td>
                                <td>
                                    <a href="Observation-chmed16af-observation-s01-prematurebaby.html">Example</a><br />
                                </td>
                            </tr>
                           <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <a href="StructureDefinition-chmed16af-obs-timeofgestation.html">Time of gestation</a>
                                </td>
                                <td>
                                    <a href="Observation-chmed16af-observation-s01-timeofgestation.html">Example</a><br />
                                </td>
                            </tr>
                           <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <a href="StructureDefinition-chmed16af-condition-risks.html">Possible risks</a>
                                </td>
                                <td>
                                    <a href="Condition-chmed16af-mp-condition-s01-1.html">Example 1 - Renal Insufficiency</a><br />
                                    <a href="Condition-chmed16af-mp-condition-s01-1.html">Example 2 - Liver Insufficiency</a><br />
                                    <a href="Condition-chmed16af-mp-condition-s01-1.html">Example 3 - Reproduction </a><br />
                                    <a href="Condition-chmed16af-mp-condition-s01-1.html">Example 4 - Competitive athlete</a><br />
                                    <a href="Condition-chmed16af-mp-condition-s01-1.html">Example 5 - Driver</a><br />
                                    <a href="Condition-chmed16af-mp-condition-s01-1.html">Example 6 - Allergies</a><br />
                                </td>
                            </tr>
                        </table>

                        <h1>ValueSets</h1>
                            <table> 
                                <tr>
                            <th>Name</th>
                            <th>Code</th>
                            <th>ValueSet</th>
                            </tr>
                            <tr>
                                <td>UnitCodes</td>
                                <td>CDTYP9</td>
                                <td><a href="ValueSet-chmed16af-valueset-cdtyp9.html">ValueSet</a></td>
                            </tr>
                            <tr>
                                <td>Route Of Adminstration</td>
                                <td>CDTYP26</td>
                                <td><a href="ValueSet-chmed16af-valueset-cdtyp26.html">ValueSet</a></td>
                            </tr>
                            <tr>
                                <td>Risks Categories</td>
                                <td>Codes CHMED16A</td>
                                <td><a href="ValueSet-chmed16af-valueset-risks-category.html">ValueSet</a></td>
                            </tr>
                            <tr>
                                <td>Risks CDSCODE</td>
                                <td>CDSCODE</td>
                                <td><a href="ValueSet-chmed16af-valueset-risks-cdscode.html">ValueSet</a></td>
                            </tr>
                            </table>
                        
                        <hr/>


                    </div>

                </div>
                <!-- /inner-wrapper -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->

    </div>
    <!-- /segment-content -->

    {% include footer.html %}
</body>

</html>